.secondPart {
    ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 56px;
        li{
            list-style: none;
            position: relative;
            color: white;
            .line{
                position: absolute;
                height: 3px;
                background-color: skyblue;;
                width: 100%;
                left: 50%;
                transform: translateX(-50%);
                bottom: -2px;
            }
        }
    }
    section {
        padding: 16px;
        h2 {
            color: white;
        }
        img {
            width: 100%;
            margin-top: 16px;
            border-radius: 6px;
        }
    }
    
}